body{

    background-image:url(1.A.2.jpg) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}




.button1{
    background-color: transparent;
    border: transparent;
   
   
    
}



.container{
    
    display: flex;
    justify-content: center;
    align-items: start;
    
    
    
}



.container3{

    display: flex;
    justify-content: center;
    align-items: end;
    

}

.img1{

    margin-right: 300px;
    margin-left: 300px;
    transition: transform 1s
}
.img1:hover{

    transform: scale(1.1);

}

.img2{
    
    margin-right: 300px;
    margin-left: 300px;
    transition: transform 1s
    
    
}

.img2:hover{

    transform: scale(1.1);
}

.img3{
    background-color: transparent;
    transition: transform 1s
    

}

.img3:hover{

    
    transform: scale(1.1);
    
}
